<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<div class="container">
  <h2>User Data</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" #nameRef="ngModel" required maxlength="12" minlength="5" class="form-control" name="name" ngModel>
      <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
        <div [hidden]="!nameRef.errors.required">Please enter a name</div>
        <div [hidden]="!nameRef.errors.minlength">Please enter at least 5 characters</div>
        <div [hidden]="!nameRef.errors.maxlength">Please enter max 12 characters</div>
      </div>
      <!--<div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">Please enter name</div>-->
      <!--<p>{{myName}}</p>
      <b>{{nameRef.className}}</b>-->
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input type="email" #emailRef="ngModel" class="form-control" name="email" ngModel >
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
        <div [hidden]="!emailRef.errors.required">Please enter a email</div>
      </div>
    </div>
    <div class="form-group">
      <label>phone:</label>
      <input type="text" class="form-control" name="phone" ngModel>
    </div>
    <div ngModelGroup="address">
      <div class="form-group">
        <label>street:</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label>city:</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label>zip:</label>
        <input type="text" #zipRef="ngModel" pattern="^[1-9][0-9]{4}" maxlength="5" class="form-control" name="zip" ngModel>
        <div *ngIf="zipRef.errors && (zipRef.dirty || zipRef.touched)" class="alert alert-danger">
          <div [hidden]="!zipRef.errors.pattern">Please enter 5 digit number</div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</div>

<!--<router-outlet></router-outlet>-->











